%table{:id => 'users', :class => "table table-hover table-bordered"}
  %thead
  %tbody
    - @courses.each do |c|
      %tr
        %td
          = c.name
        %td
          = link_to "Add course", enrollements_path(stud_id: @stud.id, course_id: c.id), method: :post
= link_to "Back", studs_path
