<h3> Select a course </h3>
<%= form_tag enrollments_path, method: :post do %>
  <%= select_tag 'course_id', options_from_collection_for_select(@courses, 'id', 'name') %>
  <%= hidden_field_tag 'student_id', @student.id %>
  <%= submit_tag 'Submit' %>
<% end %>
  
