<h3> Select a course </h3>
  <%= will_paginate @courses %>
  
  <table>
    <% @courses.each do |c| %>
    <tr>
      <td> <%= link_to c.name, course_path(c) %> </td>
      <td> <%= link_to 'Add', enrollments_path(student_id: @student.id, course_id: c.id), method: 'post' %> </td>
    </tr>
    <% end %>
  </table>
  
  <%= will_paginate @courses %>
  
