<h1> Students </h1>

<%= link_to "New Student", controller: "students", action: "new" %>

<%= will_paginate %>

<table>
  <tr>
    <th> Last name</th>
    <th> First name </th>
    <th> Birth date </th>
  </tr>
  <%= render @students %>
</table>  
  
<%= will_paginate %>
  
  

