.text_header
  Welcome to students management.
  In order to see the next content, you need to be logged in. Press login if you have an acout, or register to create a new one!
  = "Copyrights: Dinis Alexandru Catalin"