.page_format
  .text_index
    Welcome to students management.
    %br
    Our application allows you to manage students and courses. 
    %br
    Please select one of the categories below:
    %br
    %br
    .options_index
      %ul#list
        %li #{link_to 'Students', studs_path}
        %li #{link_to 'Courses', courses_path}