<h1>Students Application</h1>


<p>Students List:</p>

<label for="first_name">First Name</label>
<p><input id="first_name" name="first_name" type="text" /></p>

<label for="last_name">Last Name</label>
<p><input id="last_name" name="last_name" type="text" /></p>

<label for="birthday">Birthday</label>
<p><input id="birthday" name ="birthday" type = "date"/></p> 

<button name="view_button" type="submit">View</button>
<button name="add_button" type="submit">Add</button>
<button name="delete_button" type="submit">Delete</button>

