/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.page_format{
  text-align: center;
  margin-top:8%;
  margin-left:0 ;
}