<h3> Add a student </h3>
  
  <%= will_paginate @students %>
  
  <table class='mytable20'>
    <% @students.each do |s| %>
      <tr>
        <td> <%= link_to s.full_name, student_path(s) %> </td>
        <td> <%= link_to 'Add', enrollments_path(student_id: s.id,
                 course_id: @course.id, last_url: course_path(@course)), method: :post %> </td> 
      </tr>
    <% end %>
  </table>
  
  <%= will_paginate @students %>
  
