<h3> Add a student </h3>
  <%= form_tag enrollments_path, method: 'post' do %>
    <%= select_tag 'student_id', options_from_collection_for_select(@students, 'id', 'full_name')%>
    <%= hidden_field_tag 'course_id', @course.id %>
    <%= submit_tag 'Submit' %>
  <% end %>
  
