<nav class='navbar navbar-default clearfix menu-bar' role='navigation'>
  <ul class='nav navbar-nav'>
    <li> <%= link_to 'Students', students_path %> </li>
    <li> <%= link_to 'Courses', courses_path %> </li>
  </ul>
</nav>
